<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Welcome</h1>
     </div>
  </div>
</header>

<!-- Contact Section -->
<section class="contact-section bg-black">
  <div class="container">


    <div class="row">

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <img src=<%= @user[:image_url]%>>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-address-card text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Nickname</h4>
            <hr class="my-4">
            <div class="small text-black-50"><%= @user[:nickname] %></div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-signature text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Name</h4>
            <hr class="my-4">
            <div class="small text-black-50"><%= @user[:name] %></div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="far fa-sticky-note text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Description</h4>
            <hr class="my-4">
            <div class="small text-black-50"><%= @user[:description] %></div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <%= link_to "logout", {:controller => "sessions", :action => "destroy"}, class: "btn btn-danger"%>
    </div>

  </div>
</section>
